@import "../utils/variables.scss";
@import "../utils/mixins.scss";

footer {
  background-color: $footer-bg-color;
  position: relative;
  z-index: 1;
}

.footer-img {
  filter: invert(1);
  height: 18px;
  padding-top: 25px;
  padding-left: 40px;
}
.footer-content {
  display: flex;
  align-items: center;
  gap: 15px;
  color: $white-color;
}
.footer-container {
  padding-top: 20px;
  border-bottom-width: 20px;
  padding-bottom: 20px;
  margin: 0;
}
.footer-txt {
  font-size: 16px;
}
.footer-txt-contact {
  font-size: 16px;
  padding-right: 150px;
}
.fa-solid.fa-utensils {
  color: $white-color;
}
.fa-solid.fa-handshake.fa-rotate-by {
  --fa-rotate-angle: -45deg;
  color: $white-color;
  font-size: small;
}
@media (min-width: 768px) {
  .footer {
    display: flex;
  }
  .footer-img {
    position: absolute;
    margin-right: -10px;
    right: 50px;
  }
  .footer-container {
    display: flex;
    justify-content: space-evenly;
  }
}
