.card-group,
.card-group-menu {
  padding-bottom: 40px;
}
@media (min-width: 768px) {
  .card-group {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
  }
  .card-group-menu {
    width: 54%;
    margin: auto;
  }
}
