@import "../utils/variables.scss";
@import "../utils/mixins.scss";
button {
  display: flex;
  @include all-font;
  border: none;
  color: $white-color;
  padding: 15px 29px;
  font-size: 15px;
  text-align: center;
  background: linear-gradient($second-color, $main-color);
  width: min-content;
  white-space: nowrap;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 55px;
  border-radius: 30px;
  box-shadow: $box-shadow-color 0px 8px 10px;
  cursor: pointer;
  transition: 0.4s ease-in-out;

  &:hover {
    opacity: 0.7;
    box-shadow: $box-shadow-hover-color 0px 8px 10px;
  }
}
