@import "../utils/mixins.scss";
@import "../utils/variables.scss";

.main-menu {
  padding: 20px 15px 0px 15px;
  background-color: $main-bg-color;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  transform: translate(0px, -60px);
  position: relative;
  z-index: 2;
}
.menu-title {
  padding: 20px 0;
  text-transform: uppercase;

  .&::after {
    content: "";
    width: 50px;
    height: 2px;
    display: block;
    position: absolute;
    background-color: $third-color;
    margin-top: 5px;
    padding-top: 1px;
  }
}
.etape-menu {
  display: flex;
  flex-direction: column;
  gap: 10px;

  &1 {
    animation: slide 2s forwards;
    animation-delay: 0s;
    opacity: 0;
  }

  &2 {
    animation: slide 2s forwards;
    animation-delay: 0.5s;
    opacity: 0;
  }

  &3 {
    animation: slide 2s forwards;
    animation-delay: 1s;
    opacity: 0;
  }
  @keyframes slide {
    0% {
      transform: translatex(100px);
      opacity: 0%;
    }
    100% {
      transform: translatex(0px);
      opacity: 100%;
    }
  }
}
