@import "../main-restaurant.scss";

.main-menu {
  padding: 20px 15px 0px 15px;
  background-color: $main-bg-color;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  transform: translate(0px, -60px);
  position: relative;
  z-index: 2;
}
.etape-menu1,
.etape-menu2,
.etape-menu3 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.menu-title {
  padding: 20px 0;
  text-transform: uppercase;
}
.menu-title::after {
  content: "";
  width: 50px;
  height: 2px;
  display: block;
  position: absolute;
  background-color: $third-color;
  margin-top: 5px;
  padding-top: 1px;
}
.bg-resto,
.bg-resto-menu {
  background-color: $main-bg-color;
  margin-bottom: -60px;
}
@media (min-width: 768px) {
  .bg-resto-menu {
    padding-bottom: 60px;
    width: 70%;
    margin: auto;
  }
}
.nom-resto {
  @include title-font;
  font-size: 28px;
  font-weight: 500;
  padding: 15px 0px 0px 0px;
  margin: 0;
}
.menu-resto-card-content {
  display: flex;
  justify-content: space-between;
  padding-left: 5px;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}
.menu-resto-card {
  display: flex;
  background-color: $white-color;
  border-radius: 20px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  overflow: hidden;
}
.menu-card-txt {
  padding: 0px 0px 10px 15px;
  flex-wrap: nowrap;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (min-width: 768px) {
  .restaurant-menu-img {
    max-height: 400px;
    object-fit: cover;
  }
  .main-menu .resto-card-content {
    display: flex;
    justify-content: center;
    gap: 80px;
    padding-bottom: 50px;
    align-items: center;
  }
  .main-menu .resto-card-content .card-txt .nom-resto {
    font-size: 35px;
  }
}
