:root {
  --main-color: #9356dc;
  --second-color: #ff79da;
  --third-color: #99e2d0;
  --hero-color: #eaeaea;
  --bg-color: #f6f6f6;
  --footer-bg-color: #2c2c2c;
}
body {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 768px;
  min-width: 375px;
}
main,
footer {
  font-family: "Roboto";
}

li {
  list-style: none;
  display: flex;
  align-items: center;
}
a {
  text-decoration: none;
  color: black;
}
h1 {
  font-size: 1.7em;
  display: flex;
  justify-content: center;
}
h2 {
  margin-top: 35px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
h3 {
  margin-top: 10px;
  margin-bottom: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

p {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 0px;
  margin-top: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
}

/**************************Header********************************************/
header {
  display: flex;
  flex-direction: column;
}
.arrow {
  position: relative;
  z-index: 3;
  left: 0;
  top: 45px;
  padding-left: 20px;
}
.fa-arrow-left {
  font-size: 21px;
}
/****************************************Hero***********************************/
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.hero-container {
  /*.hero__container*/
  width: 100%;
  justify-content: center;
  padding: 15px 0px 15px 0px;
  font-weight: 500;
  background-color: #eaeaea;
  display: flex;
  align-items: center;
  gap: 10px;
  box-shadow: inset 0px 4px 4px -2px rgb(0 0 0 / 12%);
}
.hero-menu-container {
  width: 100%;
}
.restaurant-menu-img {
  position: relative;
  z-index: 1;
  width: 100%;
}
.paris-p {
  font-weight: 500;
}
/**************menu uniqument*************************/

.main-menu {
  padding: 20px 15px 0px 15px;
  background-color: #f6f6f6;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  transform: translate(0px, -60px);
  position: relative;
  z-index: 2;
}
.etape-menu1,
.etape-menu2,
.etape-menu3 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.menu-title {
  padding: 20px 0px 20px 0px;
  text-transform: uppercase;
}
.menu-title::after {
  content: "";
  width: 50px;
  height: 2px;
  display: block;
  position: absolute;
  background-color: #99e2d0;
  margin-top: 5px;
  padding-top: 1px;
}

/*******************************Reserver Explorer*********************************************/
.reserver-explorer {
  background-color: #f6f6f6;
  width: 100%;
  box-shadow: inset 0px 6px 4px -2px rgb(0 0 0 / 20%);
}
button {
  font-family: "Roboto";
  border: none;
  color: white;
  padding: 15px 29px;
  font-size: 15px;
  text-align: center;
  background: linear-gradient(#ff79da, #9356dc);
  width: min-content;
  white-space: nowrap;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 55px;
  border-radius: 30px;
  box-shadow: rgba(149, 157, 165, 0.5) 0px 8px 10px;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}
button:hover {
  opacity: 0.7;
  box-shadow: rgba(149, 157, 165, 1) 0px 8px 10px;
}
/********************************Fonctionnement********************************************/
.fonctionnement {
  padding: 10px 15px 45px 15px;
}
.fonctionnement-ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0;
}
.nbr {
  font-weight: 400;
  font-size: small;
  color: white;
  padding: 5px 9px 5px 9px;
  background-color: #9356dc;
  border-radius: 90px;
  z-index: 1;
}
.fa-solid.fa-mobile-screen-button,
.fa-solid.fa-list {
  font-size: larger;
  color: #7e7e7e;
}
.fa-solid.fa-store {
  font-size: larger;
  color: #9356dc;
}
.fonctionnement-li {
  padding: 7px 0px 7px 35px;
  margin-left: -10px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  gap: 25px;
  align-items: center;
  background-color: #f6f6f6;
  border-radius: 20px;
  box-shadow: rgba(149, 157, 165, 0.23) 0px 6px 10px;
}
/***************************************************Restaurants************************************/
.nom-resto {
  font-family: "Shrikhand";
  font-size: 28px;
  font-weight: 500;
  padding: 15px 0px 0px 0px;
  margin: 0;
}
.new {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #269e80f0;
  background-color: #99e2d0;
  font-size: 14px;
  font-weight: 500;
  padding: 7px 10px;
  margin: 0;
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  z-index: 2;
}
.restaurants {
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  padding: 10px 15px 45px 15px;
}
.a-resto-cards {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 3;
}
.restaurants .restaurants-cards,
.menu-restaurants-cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.etape-menu1 {
  animation: slide 2s forwards;
  animation-delay: 0s;
  opacity: 0;
}
.etape-menu2 {
  animation: slide 2s forwards;
  animation-delay: 0.5s;
  opacity: 0;
}
.etape-menu3 {
  animation: slide 2s forwards;
  animation-delay: 1s;
  opacity: 0;
}

@keyframes slide {
  0% {
    transform: translatex(100px);
    opacity: 0%;
  }
  100% {
    transform: translatex(0px);
    opacity: 100%;
  }
}
.resto-card {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 20px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  overflow: hidden;
}
.restaurant-img {
  height: 208px;
  width: 100%;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
}
.resto-card-content {
  height: 70px;
  display: flex;
  justify-content: space-between;
  padding: 5px 0px 5px 5px;
  overflow: hidden;
}
.menu-resto-card-content {
  display: flex;
  justify-content: space-between;
  padding-left: 5px;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}
.card-txt {
  padding-left: 10px;
  flex-wrap: nowrap;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.fa-circle-check {
  position: absolute;
  font-size: x-large;
  color: white;
  height: 100%;
  width: 12%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99e2d0;
  border-radius: 0px 20px 20px 0px;
}
.menu-resto-card {
  display: flex;
  background-color: white;
  border-radius: 20px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  overflow: hidden;
}
.menu-card-txt {
  padding: 0px 0px 10px 15px;
  flex-wrap: nowrap;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.reunion {
  display: flex;
  align-items: flex-end;
  padding-left: 10px;
  justify-content: space-between;
  flex-wrap: nowrap;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.circle-bg {
  width: 0%;
}
.animation {
  display: flex;
  align-items: flex-end;
  padding-right: 20px;
  font-weight: 700;
  padding-bottom: 10px;
}
.menu-resto-card-content:hover {
  animation: pousse-toi 1s forwards;
}
@keyframes pousse-toi {
  0% {
    width: 100%;
  }
  100% {
    width: 88%;
  }
}
.heart {
  position: relative;
  z-index: 3;
  display: flex;
  justify-content: flex-end;
  padding-top: 20px;
  padding-right: 10px;
}
.heart-label {
  width: 28px;
  height: 28px;
  cursor: pointer;
  position: relative;
  display: flex;
}
.heart-icon {
  font-size: 1.7rem;
  position: absolute;
  top: 0;
  left: 0;
}
input {
  display: none;
}
/* État initial du cœur */
.heart-checkbox:not(:checked) + .heart-label .solid-heart {
  opacity: 0;
}
/* État cliqué du cœur */
.heart-checkbox:checked + .heart-label .solid-heart {
  opacity: 1;
  background: linear-gradient(#ff79da 3%, #9356dc 120%);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* Masquer l'icône régulière lorsque le cœur est cliqué */
.heart-checkbox:checked + .heart-label .fa-regular {
  opacity: 0;
}
/***************************************Footer************************/
footer {
  background-color: var(--footer-bg-color);
}
.footer-menu {
  transform: translate(0px, -60px);
}
.footer-img {
  filter: invert(1);
  height: 18px;
  padding-bottom: 20px;
}
.footer-content {
  display: flex;
  align-items: center;
  gap: 15px;
  color: white;
}
.footer-container {
  margin: 30px 0px 30px 0px;
}
.footer-txt {
  font-size: 16px;
}
.fa-solid.fa-utensils {
  color: #ffffff;
}
.fa-solid.fa-handshake.fa-rotate-by {
  --fa-rotate-angle: -45deg;
  color: #ffffff;
  font-size: small;
}
/**********************************************loader***********************************************************/
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 100;
  animation: fadeOut 5.4s forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    visibility: visible;
  }
  99% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
.main-accueil {
  animation: fadeIn 2s linear;
  animation-delay: 5.4s;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.loader {
  display: flex;
  flex-wrap: nowrap;
  text-align: center;
  font-family: "Shrikhand", sans-serif;
  font-size: 4.1em;
  color: transparent;
  letter-spacing: 0.01em;
}
.loader span {
  text-shadow: 0 0 2px rgba(204, 208, 212, 0.9), 0 15px 25px rgba(0, 0, 0, 0.3),
    0 -2px 3px rgba(0, 0, 0, 0.1), 0 -5px 10px rgba(255, 255, 255, 0.5),
    0 5px 10px rgba(0, 0, 0, 0.3), 0 3px 4px rgba(255, 220, 255, 0.2),
    0 0 20px rgba(147, 86, 220, 0.45);

  animation: loading 0.85s ease-in-out infinite alternate;
  animation-iteration-count: 5;
}
@keyframes loading {
  to {
    text-shadow: 0 0 2px rgba(204, 208, 212, 0.2), 0 0 3px rgba(0, 0, 0, 0.02),
      0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(255, 255, 255, 0),
      0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(255, 255, 255, 0),
      0 0 0 rgba(255, 255, 255, 0);
  }
}

.loader span:nth-child(2) {
  animation-delay: 0.1s;
}
.loader span:nth-child(3) {
  animation-delay: 0.2s;
}
.loader span:nth-child(4) {
  animation-delay: 0.3s;
}
.loader span:nth-child(5) {
  animation-delay: 0.4s;
}
.loader span:nth-child(6) {
  animation-delay: 0.5s;
}
.loader span:nth-child(7) {
  animation-delay: 0.6s;
}
.loader span:nth-child(8) {
  animation-delay: 0.7s;
}
