$main-color: #9356dc;
$second-color: #ff79da;
$third-color: #99e2d0;
$hero-color: #eaeaea;
$main-bg-color: #f6f6f6;
$footer-bg-color: #2c2c2c;
$fa-color: #7e7e7e;
$a-color: black;
$white-color: white;
$box-shadow-color: rgba(149, 157, 165, 0.5);
$box-shadow-hover-color: rgba(149, 157, 165, 1);
$box-shadow-hero: rgb(0 0 0 / 12%);
$box-shadow-fonctionnement: rgba(149, 157, 165, 0.23);
$new-second-color: #269e80f0;
