@import "../main-accueil.scss";

/*******************************Reserver Explorer*********************************************/
.reserver-explorer {
  background-color: $main-bg-color;
  width: 100%;
  box-shadow: inset 0px 6px 4px -2px rgb(0 0 0 / 20%);
}
@media (min-width: 768px) {
  .reserver-explorer h2 {
    font-size: xxx-large;
  }
}
/********************************Fonctionnement********************************************/
.fonctionnement {
  padding: 10px 15px 45px 15px;
}
.fonctionnement-ul {
  padding: 0;
}
.nbr {
  font-weight: 400;
  font-size: small;
  color: $white-color;
  padding: 5px 9px 5px 9px;
  background-color: $main-color;
  border-radius: 90px;
  z-index: 1;
  text-overflow: clip;
}
.fa-solid.fa-mobile-screen-button,
.fa-solid.fa-list {
  font-size: larger;
  color: $fa-color;
}
.fa-solid.fa-store {
  font-size: larger;
  color: $main-color;
}
.li {
  margin-bottom: 20px;
}
.fonctionnement-li {
  padding: 7px 0px 7px 35px;
  margin-left: -10px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  gap: 25px;
  align-items: center;
  background-color: $main-bg-color;
  border-radius: 20px;
  box-shadow: $box-shadow-fonctionnement 0px 6px 10px;
}
@media (min-width: 768px) {
  .fonctionnement {
    display: flex;
    flex-direction: column;
    gap: 0;
    max-width: 1100px;
    margin: auto;
  }
  .fonctionnement-ul {
    display: flex;
    justify-content: space-between;
  }
  .fonctionnement-li h4 {
    padding-right: 40px;
  }
}
/***************************Restaurants*****************************/
.bg-resto {
  background-color: #f6f6f6;
  margin-bottom: -60px;
}
.restaurants {
  padding: 10px 15px 45px 15px;
}
.a-resto-cards {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 3;
}
.resto-card {
  display: flex;
  flex-direction: column;
  background-color: $white-color;
  border-radius: 20px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  overflow: hidden;
  margin-bottom: 25px;
}
.restaurant-img {
  height: 208px;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
}
@media (min-width: 768px) {
  .restaurants {
    display: flex;
    flex-direction: column;
    max-width: 1100px;
    margin: auto;
  }
  .resto-card {
    width: 45%;
  }
}
